import(devEMF)
import(officer)
import(flextable)
import(Rcpp)
import(shiny)
import(shinydashboard)
import(shinyMatrix)
importFrom("Rcpp", "evalCpp")
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "axis", "mtext", "lines", "polygon")
importFrom("stats", "qnorm", "pgamma", "quantile", "rgamma")
export(ADSSMod)
export(ADSSModC)
export(ADSSModReportDoc)
export(ADSSModApp)
export(ADTreatSel)
export(ADTreatSelC)
export(ADTreatSelReportDoc)
export(ADTreatSelApp)
export(ADPopSel)
export(ADPopSelC)
export(ADPopSelReportDoc)
export(ADPopSelApp)
export(FutRule)
export(FutRuleC)
export(FutRuleReportDoc)
export(FutRuleApp)
export(EventPred)
export(EventPredR)
export(EventPredEventCount)
export(EventPredReportDoc)
export(EventPredApp)
export(EventPredPriorDistribution)
export(ReportDoc)
export(GenerateReport)
useDynLib(MedianaDesigner, .registration = TRUE)

