S3method(print,ADSSModResults)
S3method(print,ADTreatSelResults)
S3method(print,ADPopSelResults)
S3method(print,FutRuleResults)
S3method(print,EventPredResults)
S3method(print,ADRandResults)
S3method(print,MultAdjResults)
import(devEMF)
import(officer)
import(flextable)
import(mvtnorm)
import(RcppNumerical)
import(Rcpp)
importFrom(Rcpp,evalCpp)
import(shiny)
import(shinydashboard)
import(shinyMatrix)
importFrom("Rcpp", "evalCpp")
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "axis", "mtext", "lines", "polygon", "plot")
importFrom("stats", "qnorm", "pgamma", "quantile", "rgamma")
export(ADSSMod)
export(ADSSModC)
export(ADSSModReportDoc)
export(ADSSModApp)
export(ADTreatSel)
export(ADTreatSelC)
export(ADTreatSelReportDoc)
export(ADTreatSelApp)
export(ADPopSel)
export(ADPopSelC)
export(ADPopSelReportDoc)
export(ADPopSelApp)
export(FutRule)
export(FutRuleC)
export(FutRuleReportDoc)
export(FutRuleApp)
export(EventPred)
export(EventPredR)
export(EventPredEventCount)
export(EventPredReportDoc)
export(EventPredApp)
export(EventPredPriorDistribution)
export(ADRand)
export(ADRandC)
export(ADRandApp)
export(ADRandReportDoc)
export(MultAdj)
export(MultAdjReportDoc)
export(MultAdjApp)
export(ReportDoc)
export(GenerateReport)
export(ComputeDRFunctionParameters)
export(DRFunction)
export(print.ADSSModResults)
export(print.ADTreatSelResults)
export(print.ADPopSelResults)
export(print.FutRuleResults)
export(print.EventPredResults)
export(print.ADRandResults)
export(print.MultAdjResults)
useDynLib(MedianaDesigner, .registration = TRUE)
